body{
	background: #e0ebeb;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
}
#wrapper{
	background: #fff;
	width: 90%;
	margin: 0 auto;
	box-shadow: 2px 0 50px;
}

#title_bar{
	background: #eee;
	padding: 1%;
	margin: 0.5vw 0vw 0.5vw 0vw;
	text-transform: uppercase;
	text-align: center;
}
#title_bar ul{
	font-weight: bold;
	text-align: right;
	list-style-type: none;
	margin: 0.5%;
}
#title_bar li{
	display: inline-block;
	padding: 0vw 1.5vw;
}
#title_bar a{
	text-decoration: none;
	font-size: 1.5vw; /*vw is for dynamic size*/
	color: #000;
}
#title_bar a:hover{
	background:#000;
	color: #fff	;
	padding: 1%;

}
#banner img{
	width: 100%;
	height: 5%;
	margin: 0 0;
	padding: 0 0;
}
#banner img:hover{
	transform: scale(1.05);
}
#social{
	text-align: center;
}
#social a{
	margin: 5vw 0em 5.3vw 0em;
	background: #fff;
	color:#000;
	display: inline-block;
	padding: 5vw ;
}
#social a:hover{
	background-color: #000;
	color: #fff;
}
#about li{
	font-weight: bold;
	font-size: 3vw;
	background: #eee;
	text-align: center;
	list-style-type: none;
	display: block;
	padding: 1vw;
	vertical-align: middle;
	margin: 0.5vw 0vw 0.5vw 0vw;
}
#about ul{
	font-family: 'Roboto', sans-serif;
	background: #e0ebeb;
	text-align: center;
	font-size: 1.5vw;
	list-style-type: none;
	padding: 2vw 15vw 3vw 15vw; /*top right bottom left*/
	display: inline-block;
	margin: 0em;
}
#profile{
	background: #e0ebeb;
	padding: 3vw;
	margin:0;
	display: inline-block;
}

#profile img{
	vertical-align: middle;
	background: #000;
}
#profile img:hover{
	transform: scale(1.1);
}
#profile span{
    vertical-align: middle;
	font-size: 7vw;
	padding: 3vw;
	font-weight: 900;
}
#skills{
	margin: 3vw;
	text-align: center;
	display: grid;
	grid-template-columns: 11.1% 22.2% 11.1% 22.2% 11.1% 22.3%;
	/*SEARCH GRID TEXT ALIGN*/
}
#skills span{
	vertical-align: bottom;
}
#skills img{
	padding: 3vw;
	background-color: #fff;
	vertical-align: top;
}


.header{
	text-align:center;
}
.footer{
	text-align: center;
}
.footer a{
	padding: 0.5em;
}
